body {
    background-color: white !important;
    margin: 0px !important;
    padding: 0px !important;
    max-width: 1440px;
}

nav {
 position: relative;
 width: 100%;
 background-color: rgb(201, 201, 201);
 height: 60px;

}


nav ul {
line-height: 0px;
text-align: right;


}

nav li {
        display: inline-block;
        margin-right: 3%;
        margin-top: 2%;
}

nav li a {
text-decoration: none;
color: gray;
}

 nav li a:hover {
color: white;
}
.header {
    /*background: url(images/black.png);*/
    
    height: 520px;
    
    padding: 50px;
}
    .header #quote {
        width: 45% !important;
        font-size: 35px !important;
        text-align:justify;
        margin-right: 15px;
        margin-left: -30px;
        margin-top: 30px;
    }
    .header #picture{
        position: absolute;
        margin-top:-185px;
        margin-left:37%;

    }
    .header #picture img {
        width: 550px !important;
        height: 300px !important;
    }
#reasons {
    left:10px;
    margin-left: 45%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 150px;
    height:250px;
}
    #reasons img{
        height: 200px;
        width: 470px;
        position: absolute;
        left: 150px;

    }
    #why {
        font-size: 25px;
        text-decoration: underline;
    }
.reason{
    
    font-size: 21px;
    color:black;
    margin-left: 5px;
}
.respond {
    
    font-size: 17px;
    margin-left: 10px;
    color: grey;
}
#chart{
    font-size:26px;
    background-image: url(../Images/background1.png);
    background-position:center;
    
    background-size:cover;
    height:500px;
}
#chart-text {
    border: solid #f8f8f8 10px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.878);
    margin-left: 110px;
    padding: 20px;
}
    #chart-text p{
        margin-top:35px;
    }
    #chart-text ul {
        list-style: none;
        font-size: 24px;
        width: 400px;
        margin-top: 10px;
    }
    #chart-text ul li{
        margin-bottom: 40px;
    }
    #chart-text ul li:before {
        content: '✓ ';
      
    }
#quote-text {
    margin-top: 200px;
    font-size: 30px;
}
#best{
    color:red;
    font-weight:bold;
}
#just-chart {
    position: absolute;
    margin-left: 55%;
    margin-top: -24%;
    border: solid black 1px;
}
#ftr {
    width: 118%;
    height: 150px;
    background-color: black;
    margin-left: -9%;
    text-align:center;
}
#rights {
    margin-top: 8%;
    position: absolute;
    margin-left:40%;
}
#terms {
    position: absolute;
    margin-top: 70px;
    margin-left: 43%;
}
#privacy {
    position: absolute;
    margin-left: 47%;
    margin-top: 70px;
}
#policy {
    font-size: 22px;
    margin-top: 30px;
}
.naslov{
    font-size:19px;
}
#paragraf{
    font-size: 18px;
   
}
#totop1 {
    position: fixed;
    display: none;
    right: 3.5%;
    bottom: 8%;
    font-size: 22px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: rgb(80, 62, 50);
    cursor: pointer;
    outline: none;
    border: 3px solid rgb(80, 62, 50);
    border-radius: 50%;
    transition-duration: 0.05s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

    #totop1:hover, #totop1:focus {
        background-color: rgb(80, 62, 50);
        color: #fff
    }